/**
 * @name FrogNET
 * @author The Frogs
 * @version 0.0.0
 * @description The theme of the frogs
 * @source https://thefrogs.world/frognet/discordtheme/
 * @website https://thefrogs.world/
 * @invite thefrogs
 */

/* Import CRT effect */
@import url('https://B4T3S.github.io/Fallout4TerminalTheme/css/crtEffect.css');

/* Import mainRewrite.css */
@import url('https://raw.githubusercontent.com/deadinternetfox/betterdiscordtheme/main/mainRewrite.css');

/* CUSTOMIZE COLORS IN HERE! */
:root {
  --main-color: #56b417; /* main accent color */
  --hover-color: #43ce21; /* hover accent color */
  --success-color: #43b581; /* success accent color */
  --danger-color: #982929; /* danger accent color */
  --url-color: var(--main-color); /* URL link color */

  /* STATUS COLORS */
  --online-color: #43b581; /* online status color */
  --idle-color: #faa61a; /* idle status color */
  --dnd-color: #982929; /* DND status color */
  --streaming-color: #593695; /* streaming status color */
  --offline-color: #808080; /* offline status color */

  /* GENERAL */
  --main-font: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font */
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* code block font */
  --text-normal: rgb(220, 221, 222); /* default text color */
  --text-muted: rgb(114, 118, 125); /* muted text color */
  --channels-width: 220px; /* channel list width */
  --members-width: 240px; /* member list width */

  /* APP BACKGROUND */
  --background-shading: 100%; /* app background shading */
  --background-overlay: rgba(0, 0, 0, 0.6); /* app background overlay color */
  --background-position: center; /* app background position */
  --background-size: cover; /* app background size */
  --background-repeat: no-repeat; /* app background repeat */
  --background-attachment: fixed; /* app background attachment */
  --background-brightness: 100%; /* app background brightness */
  --background-contrast: 100%; /* app background contrast */
  --background-saturation: 100%; /* app background saturation */
  --background-invert: 0%; /* app background invert */
  --background-grayscale: 0%; /* app background grayscale */
  --background-sepia: 0%; /* app background sepia */
  --background-blur: 0px; /* app background blur */

  /* HOME BUTTON ICON */
  --home-icon: url('https://raw.githubusercontent.com/deadinternetfox/betterdiscordtheme/main/dm.png'); /* home button icon */
  --home-position: center; /* home button icon position */
  --home-size: 40px; /* home button icon size */

  /* CHANNEL COLORS */
  --channel-unread: var(--main-color); /* Unread Server channel color */
  --channel-color: rgba(255, 255, 255, 0.3); /* Read Server channel color */
  --channel-text-selected: #fff; /* Selected channel text color */
  --muted-color: rgba(255, 255, 255, 0.1); /* Muted channel color */

  /* MODAL BACKDROP */
  --backdrop-overlay: rgba(0, 0, 0, 0.8); /* modal backdrop overlay color */
  --backdrop-image: var(--background-image); /* modal backdrop image */
  --backdrop-position: var(--background-position); /* modal backdrop position */
  --backdrop-size: var(--background-size); /* modal backdrop size */
  --backdrop-repeat: var(--background-repeat); /* modal backdrop repeat */
  --backdrop-attachment: var(--background-attachment); /* modal backdrop attachment */
  --backdrop-brightness: var(--background-brightness); /* modal backdrop brightness */
  --backdrop-contrast: var(--background-contrast); /* modal backdrop contrast */
  --backdrop-saturation: var(--background-saturation); /* modal backdrop saturation */
  --backdrop-invert: var(--background-invert); /* modal backdrop invert */
  --backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale */
  --backdrop-sepia: var(--background-sepia); /* modal backdrop sepia */
  --backdrop-blur: var(--background-blur); /* modal backdrop blur */

  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image); /* user popout background image */
  --user-popout-position: var(--background-position); /* user popout background position */
  --user-popout-size: var(--background-size); /* user popout background size */
  --user-popout-repeat: var(--background-repeat); /* user popout background repeat */
  --user-popout-attachment: var(--background-attachment); /* user popout background attachment */
  --user-popout-brightness: var(--background-brightness); /* user popout background brightness */
  --user-popout-contrast: var(--background-contrast); /* user popout background contrast */
  --user-popout-saturation: var(--background-saturation); /* user popout background saturation */
  --user-popout-invert: var(--background-invert); /* user popout background invert */
  --user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale */
  --user-popout-sepia: var(--background-sepia); /* user popout background sepia */
  --user-popout-blur: calc(var(--background-blur) + 3px); /* user popout background blur */
  --user-popout-overlay: rgba(0, 0, 0, 0.6); /* user popout overlay color */

  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image); /* user modal background image */
  --user-modal-position: var(--background-position); /* user modal background position */
  --user-modal-size: var(--background-size); /* user modal background size */
  --user-modal-repeat: var(--background-repeat); /* user modal background repeat */
  --user-modal-attachment: var(--background-attachment); /* user modal background attachment */
  --user-modal-brightness: var(--background-brightness); /* user modal background brightness */
  --user-modal-contrast: var(--background-contrast); /* user modal background contrast */
  --user-modal-saturation: var(--background-saturation); /* user modal background saturation */
  --user-modal-invert: var(--background-invert); /* user modal background invert */
  --user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale */
  --user-modal-sepia: var(--background-sepia); /* user modal background sepia */
  --user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur */

  /* THEME BD COLORS */
  --bd-blue: var(--main-color); /* betterdiscord main color */
  --bd-blue-hover: var(--hover-color); /* betterdiscord hover color */
  --bd-blue-active: var(--hover-color); /* betterdiscord active color */
  --rgb-highlight: 74, 239, 152; /* main highlight color */
  --rgb-background: 0, 9, 0; /* main background color */
  --rgb-text: 74, 239, 152; /* text color */
  --rgb-close-button: 212, 18, 39; /* close button color */
  --rgb-online-color: 57, 255, 20; /* online color */
  --rgb-afk-color: 255, 255, 51; /* AFK color */
  --rgb-dnd-color: 255, 0, 0; /* DND color */
  --rgb-streaming-color: 188, 19, 254; /* streaming color */

  --transition-time: .3s; /* animation duration */

  --background-image: url(https://raw.githubusercontent.com/deadinternetfox/betterdiscordtheme/main/bg.png); /* background image */
  --background-position: center; /* background position */
  --background-size: cover; /* background size */
  --background-blur: 5px; /* background blur */
  --background-brightness: 100%; /* background brightness */

  --show-original-title: 0; /* show original title */
  --show-custom-title: 1; /* show custom title */
  --custom-title-text: "FrogNET"; /* custom title text */
  --custom-title-image: url("https://raw.githubusercontent.com/deadinternetfox/betterdiscordtheme/main/frognet.svg"); /* custom title image */
  --custom-title-font-size: 16px; /* custom title font size */
  --custom-title-font-weight: bold; /* custom title font weight */
  --custom-title-margin-top: 0px; /* custom title margin top */
  --custom-title-margin-left: 0px; /* custom title margin left */
}

/* Home Button */
.homeIcon-r0w4ny path {
  fill: transparent;
}

.homeIcon-r0w4ny {
  background: url('https://raw.githubusercontent.com/deadinternetfox/betterdiscordtheme/main/dm.png') center/cover no-repeat;
  min-width: 40px;
  min-height: 40px;
}
